:root {
   --bg-light: #f6f6f6;
   --bg-blue: #003157;
   --clr-blue: #0049ae;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

/* set up the body */


body {
   font-family: 'Roboto', sans-serif;
   overflow-x: hidden;
}


/* make images easier to work with */
img {
   max-width: 100%;
   display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
   font: inherit;
}

.container {
   width: min(100% - 9vw, 1140px);
   margin-inline: auto;
}

.contact-us {
   background-color: white;
   width: fit-content;
   margin-inline: auto;
   padding: 8px 13px;
}

.contact-us.dark {
   background-color: #0049ae;
}

.contact-us a {
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   color: var(--clr-blue);
}

.contact-us.dark a {
   color: white;
}


header {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(./assets/luis-melendez-Pd4lRfKo16U-unsplash.jpg);
   background-size: cover;
}

header .nav.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-block: 15px;
}

header .logo {
   width: 150px;
}

header .right {
   display: flex;
   align-items: center;
   gap: 40px;
}

header a {
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
}

header .mobile-number {
   background-image: linear-gradient(to right, var(--clr-blue), rgba(0, 74, 173, 0.7));
   color: white;
   padding: 10px 20px;
   border-radius: 25px;
}

.home {
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   padding-bottom: 100px;
}

.home .info {
   width: 50%;
}


.home h1 {
   font-size: 45px;
   margin-top: 80px;
   margin-bottom: 60px;
}

.contact-form {
   background-color: white;
   padding: 25px 15px;
   border-radius: 5px;
   height: fit-content;
}

.contact-form iframe {
   height: 600px;
}

.contact-form h3 {
   font-weight: 300;
   text-align: center;
   margin-bottom: 20px;

}

.contact-form h3 span {
   font-weight: 500;
}

.contact-form p {
   text-align: center;
   font-weight: 500;
   margin-bottom: 15px;
   font-size: 15px;
}

.contact-form form {
   border: dashed 1px hsla(0, 0%, 0%, .3);
   padding: 10px;
}

.section1 {
   background-color: var(--bg-light);
   padding-block: 90px;
}

.health-solutions {
   text-align: center;
   margin-bottom: 70px;
}

.health-solutions img {
   margin-inline: auto;
}

.health-solutions h1 {
   margin-bottom: 20px;
}

.health-solutions p {
   font-size: 20px;
   opacity: 0.9;
   max-width: 70%;
   margin-inline: auto;
}

.solution-details {
   display: flex;
   gap: 50px;
   justify-content: space-between;
}

.solution-details>div {
   background-color: hsla(215, 100%, 34%, 0.15);
   padding: 0 20px 15px;
   max-width: 38ch;
}

.solution-details i {
   color: var(--clr-blue);
   font-size: 35px;
   display: block;
   width: fit-content;
   margin-inline: auto;
   padding: 5px;
   background-color: var(--bg-light);
}

.solution-details h3 {
   text-align: center;
   margin-block: 20px;
}

.solution-details p {
   opacity: 0.8;
   text-align: center;
}

.section2 {
   background-color: var(--bg-blue);
   padding-block: 100px;
   color: white;
}

.section2 .container {
   display: flex;
   justify-content: space-between;
}

.section2 .info {
   border: solid 1px hsla(100, 100%, 100%, 0.3);
   padding: 15px;
   width: 45%;
}

.section2 .info h2 {
   margin-bottom: 20px;
   text-align: center;
}

.section2 .info p {
   opacity: 0.8;
}

.section2 .info>div {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-bottom: 15px;
}

.section2 .info i {
   font-size: 30px;
}

.section2 .image {
   width: 45%;
}

.section2 img {
   width: 280px;
   margin-inline: auto;
}

.section2 .champ {
   margin-top: 60px;
   font-size: 20px;
   text-align: center;
   opacity: 0.8;
   max-width: 70ch;
   margin-inline: auto;
}

.section2 .champ span {
   font-weight: 500;
}

.section3 {
   background-color: var(--bg-blue);
   color: white;
   text-align: center;
   padding-bottom: 100px;
}

.section3 h1 {
   margin-bottom: 15px;
}

.section3 p {
   font-size: 20px;
   opacity: 0.8;
   max-width: 70ch;
   margin-inline: auto;
}

.cafeteria-plan {
   display: flex;
   justify-content: space-between;
   padding-top: 40px;
   gap: 20px;
}

.cafeteria-plan .card {
   /* background-color: hsla(100, 100%, 100%, 0.9); */
   border: solid 1px hsla(100, 100%, 100%, 0.3);
   /* color: black; */
   max-width: 39ch;
   margin-inline: auto;
   padding: 15px 30px;
}

.cafeteria-plan h2 {
   font-size: 20px;
   margin-bottom: 15px;
}

.cafeteria-plan .card.plans {
   text-align: left;
}

.cafeteria-plan .card ul {
   margin: 0;
   list-style: none;
   padding: 0;
   padding-left: 20px;
}

.cafeteria-plan .card ul li {
   margin-bottom: 10px;
   text-indent: -1.7em;
   opacity: 0.9;
}


.cafeteria-plan .card ul li::before {
   font-family: 'FontAwesome';
   content: 'ï˜';
   padding: 0 5px 0;
   color: var(--bg-light);
}

.section4 {
   background-color: var(--bg-blue);
   padding-bottom: 100px;
}

.section4 .card {
   background-color: hsla(100, 100%, 100%, 0.7);
}

.footer {
   background-color: var(--bg-light);
   background-image: none;
}




/**********************/
/**********************/
/* ------MOBILE------- */
/**********************/
/**********************/
@media(max-width: 800px) {

   header {
      background-position: center;
   }

   header .right {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
   }

   header .logo {
      width: 80px;
   }

   header a {
      font-size: 14px;
   }

   .home {
      flex-direction: column;
      margin-top: 15px;
      gap: 30px;
      padding-bottom: 50px;
   }

   .home .social-links {
      justify-content: center;
   }

   .home .info,
   .contact-form {
      width: 100%;
   }

   .home .info {
      text-align: center;
   }

   .home h1 {
      font-size: 40px;
      margin: 0;
      margin-bottom: 20px;
   }

   .health-solutions p {
      max-width: 100%;
   }

   .solution-details {
      flex-direction: column;
      justify-content: center;
   }

   .solution-details>div {
      margin-inline: auto;
   }

   .section2 .container {
      flex-direction: column;
      gap: 40px;
   }

   .section2 .image,
   .section2 .info {
      width: 100%;
   }

   .cafeteria-plan {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
   }

}